extends layout

block content
  form(action='/newuserLoginRecord',method='post')
    input(type="text" name="username" placeholder="username")
    input(type="password" name="password" placeholder="password")
    input(type="submit" value="post")
  
  


   
  
    
    
